{% extends "master.html" %}
{% block title %}
Listado de Domiciliarios
{% endblock %}
{% block content %}
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
<div class="row" style="margin-top:70px">
    <div class="panel panel-default">
        <div class="panel-body">
          <h2>Transportadores por validar</h2>
          <table class="table">
            <tr class="warning">
                <th style="text-align:center">Id</th>
                <th style="text-align:center">Documento</th>
                <th style="text-align:center">Nombres</th>
                <th style="text-align:center">Apellidos</th>
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Telefono</th>
                <th style="text-align:center">Rostro</th>
              </tr>
          {% for dom in dominvalidos %}
            <tr>
              <td>{{dom.id}}</td>
              <td>{{dom.documento}}</td>
              <td>{{dom.nombres}}</td>
              <td>{{dom.apellidos}}</td>
              <td>{{dom.email}}</td>
              <td>{{dom.telefono}}</td>
              <td><IMG SRC="/static/media/{{dom.rostro}}" ALT="Rostro" width=100 height=100></td>
              <td><a href="{% url 'validar_dom' dom.id %}"><input type="button" class="btn btn-block btn-success" value="Validar"></a></td>
          {% endfor %}
          </table>
        </div>
      </div>
<div class="panel panel-default">
        <div class="panel-body">
          <h2>Transportadores actuales</h2>
          <table class="table">
            <tr class="success">
                <th>Id</th>
                <th>Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Reputación</th>
              </tr>
          {% for domv in domvalidos %}
            <tr>
              <td>{{domv.id}}</td>
              <td>{{domv.documento}}</td>
              <td>{{domv.nombres}}</td>
              <td >{{domv.apellidos}}</td>
              <td>{{domv.email}}</td>
              <td>{{domv.telefono}}</td>
              <td><form>
                <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p></form>
            </td>
              <td><a href="{% url 'vehiculos_list' domv.id %}" ><input  type="button" class="btn btn-block btn-warning" value="Vehiculos"></a><br><input type="button" class="btn btn-block btn-info" value="Detalles"></td>
          {% endfor %}
          </table>
        </div>
    </div>
{% endblock %}
